.left-image-container {
    flex: 0 0 25%;
    display: flex;
    background-image: url("../images/view.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.accomodation-button-container {
    padding-top: 30px;
    padding-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .left-image-container {
        background-position: center;
    }
}